body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3a3636;
  margin: 0;
}

.clock {
  font-size: 48px;
  font-weight: bold;
}
